@import "../node_modules/lesshat/lesshat.less";

@button-size: 36px;
@icon-size: 16px;
@border-radius: 2px;

.ds-sharing {
  display: block;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
  
  .share-button {
    display: inline-block;
    border-radius: @border-radius;
    background: #888;
    line-height: @button-size;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    text-align: left;
    overflow: hidden;
    margin: 3px;
    
    .button-icon {
      transition: 0.25s;
      display: inline-block;
      float: left;
      width: @button-size;
      height: @button-size;
      border-radius: @border-radius 0 0 @border-radius;
      background: rgba(0,0,0, 0.2);
    }
    
    &:hover .button-icon {
      background: rgba(0,0,0, 0.4);
    }
    
    .button-icon svg {
      width: @icon-size;
      height: @icon-size;
      display: inline-block;
      fill: #fff;
      margin: ( @button-size - @icon-size ) / 2;
    }
    
    .button-label {
      display: inline-block;
      padding: 0 10px;
    }
    
    &[data-platform="twitter"] {
      background: #55acee;
    }
    
    &[data-platform="facebook"] {
      background: #3b5999;
    }
    
    &[data-platform="googleplus"] {
      background: #dd4b39;
    }
    
    &[data-platform="linkedin"] {
      background: #0077B5;
    }
    
    &[data-platform="mail"] {
      background: #666;
    }

  } // .share-button
  
  &.no-labels {

    .share-button {

      .button-icon {
        border-radius: @border-radius;
        background: none;
      }
      
      &:hover .button-icon {
        background: rgba(0,0,0, 0.2);
      }
      
      .button-label {
        display: none; 
      }
      
    }
        
  } // &.no-labels
  
} // .ds-sharing
