/* Generated Tue, 20 Dec 2016 21:56:04 GMT */
.ds-sharing {
  display: block;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
}
.ds-sharing .share-button {
  display: inline-block;
  border-radius: 2px;
  background: #888;
  line-height: 36px;
  font-size: 15px;
  font-weight: normal;
  color: #fff;
  text-align: left;
  overflow: hidden;
  margin: 3px;
}
.ds-sharing .share-button .button-icon {
  transition: 0.25s;
  display: inline-block;
  float: left;
  width: 36px;
  height: 36px;
  border-radius: 2px 0 0 2px;
  background: rgba(0, 0, 0, 0.2);
}
.ds-sharing .share-button:hover .button-icon {
  background: rgba(0, 0, 0, 0.4);
}
.ds-sharing .share-button .button-icon svg {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #fff;
  margin: 10px;
}
.ds-sharing .share-button .button-label {
  display: inline-block;
  padding: 0 10px;
}
.ds-sharing .share-button[data-platform="twitter"] {
  background: #55acee;
}
.ds-sharing .share-button[data-platform="facebook"] {
  background: #3b5999;
}
.ds-sharing .share-button[data-platform="googleplus"] {
  background: #dd4b39;
}
.ds-sharing .share-button[data-platform="linkedin"] {
  background: #0077B5;
}
.ds-sharing .share-button[data-platform="mail"] {
  background: #666;
}
.ds-sharing.no-labels .share-button .button-icon {
  border-radius: 2px;
  background: none;
}
.ds-sharing.no-labels .share-button:hover .button-icon {
  background: rgba(0, 0, 0, 0.2);
}
.ds-sharing.no-labels .share-button .button-label {
  display: none;
}
